@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
$crimson:crimson;
$black: black;
$light-bg:#1a1a1a;
$white: white;
$light-color:#aaa;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.7);

html{
    font-size:62.5%;
    overflow-x: 1rem;
    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: $black;

    }
       &::-webkit-scrollbar-thumb{
        background: $crimson;
        border-radius: 5rem;
        
    }
}

body{
   background:$black; 
   padding-bottom:6.5rem;
}

.navbar{
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    z-index: 1000;
    align-items: flex-end;

    a{
        padding: 2rem;
        font-size:2rem;
        background:$light-bg;
        flex:1;
        color:$white;

        i{
            color:$crimson;
            padding-right:.5rem;
        }

        &:hover{
            background:$crimson;
        }
    }
}